@import "../constants";

$sidekick-width: 100vw;

.sidekick-main {
  position: fixed;
  background-color: $panel-background-color;
  top: $body-margin;
  left: 100vw;
  z-index: 10;
  padding: 10px;
  min-height: calc(100vh - 20px - 2*#{$body-margin});
  width: $sidekick-width;
  min-width: $sidekick-width;
  max-width: $sidekick-width;
  color: #ffffff;

  .close-button {
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    color: burlywood;
    background-color: #00000000;
    border: none;
  }

}
