@import "../constants";
@import "../../base-styles";

$wizard-component-height: $button-height;
$space_between: 4px;

.sw-wizard-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  img.logo {
    background-color: $logo-background-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: $wizard-component-height;
  }

  .separator {
    height: $wizard-component-height;
    width: 0px;
    border-width: 1px;
    border-color: #949494;
    margin-left: $space_between;
    border-style: solid;
  }

  .sw-wizard-button {
    @extend .standard-button;
    margin-left: $space_between;
  }
}
