// constants
$menu-button-gradient-color-from : #1e5f77;
$menu-button-gradient-color-to : #000000;
$confirm-button-gradient-color-from : #5cb937;
$confirm-button-gradient-color-to : #033a16;
$cancel-button-gradient-color-from : #d0280d;
$cancel-button-gradient-color-to : #4c0303;
$disabled-button-gradient-color-from : #848783;
$disabled-button-gradient-color-to : #000000;
$panel-background-color: #16171b;
$body-margin: 8px;
