.standard-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: $button-height;
  min-width: $button-height;
  width: min-content;
  cursor: pointer;
  background-color: $btn-background-color;
  border-color: #331235;
  border-width: 1px;
  &:disabled {
    background-color: $disabled-color;
    border-color: red;
    cursor: default;
  }
}
