@import "app/constants";
@import "base-styles";

body {
  font-family: Impact, monospace;
  margin: $body-margin;
}

.confirmation-button {
  @extend .standard-button;
  display: inline-block;
  background-color: $confirmation-color;
  margin: 2px;
}

.cancel-button {
  @extend .standard-button;
  display: inline-block;
  background-color: $disabled-color;
  margin: 2px;
}
